<div class="py-32 flex justify-center">
  <div class="grid grid-cols-2 gap-6">
    {{#each @model.items as |blog index|}}
      <Card @index={{index}} @title={{blog.title}} @categories={{blog.categories}} @pubDate={{blog.pubDate}} />
    {{/each}}
  </div>
</div>
