<div class="">
    <img src="/assets/images/spoon-banner.jpg" class="-z-10 opacity-90 h-screen object-cover absolute w-screen" />
    <div class="sm:px-16 px-10 py-32 flex flex-col">
        <img src="{{@model.image}}" class="w-5/12" />
        <div class="bg-transparentGray rounded-md border-2 border-black my-10 p-6 py-16">
            <h1 class="text-2xl text-blue-950 mb-4">{{@model.title}}</h1>
            <p class="text-justify">{{@model.description}}</p>
        </div>
    </div>
</div>